<a href="https://colab.research.google.com/github/panda1823/Bank-Customer-Database-Management/blob/main/BANK_CUSTOMER_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#import required libraries
!app-get install sqlite3
!pip install pandas

/bin/bash: line 1: app-get: command not found
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import sqlite3
import pandas as pd
import os

In [ ]:
conn = sqlite3.connect("my_database.db")

In [ ]:
#define path of db
db_path = "/content/drive/MyDrive/my_database.db"

In [ ]:
db_folder =  "/content/drive/MyDrive/db folder"
os.makedirs( db_folder,exist_ok=True) #Ensure the folder existance
db_path = os.path.join(db_folder,"my_database.db")

conn = sqlite3.connect(db_path)
cursor = conn.cursor()

print("Database connected at:",db_path)

Database connected at: /content/drive/MyDrive/db folder/my_database.db

#TABLE INSERTIONS

CUSTOMER TABLE

In [ ]:
pip install tabulate

Requirement already satisfied: tabulate in /usr/local/lib/python3.12/dist-packages (0.9.0)

In [ ]:
cursor.execute("""
CREATE TABLE BANK_CUSTOMER ( customer_id INT ,
             	customer_name VARCHAR(20),
             	Address 	VARCHAR(20),
             	state_code  VARCHAR(3) ,
             	Telephone   VARCHAR(10)	);
""")
conn.commit()

In [ ]:
def INSERT_CUSTOMER (customer_id,customer_name,Address,state_code,Telephone):
  cursor.execute("""
  INSERT INTO BANK_CUSTOMER (customer_id,customer_name,Address,state_code,Telephone)
  VALUES (?,?,?,?,?); """,(customer_id,customer_name,Address,state_code,Telephone))
  conn.commit()

  #insert values
INSERT_CUSTOMER(123001,"Oliver", "225-5, Emeryville", "CA" , "1897614500");
INSERT_CUSTOMER  (123002,"George", "194-6,New brighton","MN" , "1897617000");
INSERT_CUSTOMER  (123003,"Harry", "2909-5,walnut creek","CA" , "1897617866");
INSERT_CUSTOMER (123004,"Jack", "229-5, Concord",  	"CA" , "1897627999");
INSERT_CUSTOMER  (123005,"Jacob", "325-7, Mission Dist","SFO", "1897637000");
INSERT_CUSTOMER  (123006,"Noah", "275-9, saint-paul" ,  "MN" , "1897613200");
INSERT_CUSTOMER  (123007,"Charlie","125-1,Richfield",   "MN" , "1897617666");
INSERT_CUSTOMER  (123008,"Robin","3005-1,Heathrow", 	"NY" , "1897614000");

In [ ]:
#table view using tabulate

from tabulate import tabulate
cursor.execute("SELECT * FROM BANK_CUSTOMER")
rows = cursor.fetchall()
header = [column[0] for column in cursor.description]
print(tabulate(rows, headers=header, tablefmt="grid"))

+---------------+-----------------+---------------------+--------------+-------------+
|   customer_id | customer_name   | Address             | state_code   |   Telephone |
+===============+=================+=====================+==============+=============+
|        123001 | Oliver          | 225-5, Emeryville   | CA           |  1897614500 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123002 | George          | 194-6,New brighton  | MN           |  1897617000 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123003 | Harry           | 2909-5,walnut creek | CA           |  1897617866 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123004 | Jack            | 229-5, Concord      | CA           |  1897627999 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123005 | Jacob           | 325-7, Mission Dist | SFO          |  1897637000 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123006 | Noah            | 275-9, saint-paul   | MN           |  1897613200 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123007 | Charlie         | 125-1,Richfield     | MN           |  1897617666 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123008 | Robin           | 3005-1,Heathrow     | NY           |  1897614000 |
+---------------+-----------------+---------------------+--------------+-------------+

In [ ]:
#delete BANK_CUSTOMER TABLE
#cursor.execute("DROP TABLE BANK_CUSTOMER")

TABLE-2 : BANK_CUSTOMER_EXPORT

In [ ]:
cursor.execute("""
CREATE TABLE BANK_CUSTOMER_EXPORT ( customer_id CHAR(10),
customer_name CHAR(20),
Address CHAR(20),
state_code  CHAR(3) ,
Telephone  CHAR(10));"""
)
conn.commit()

In [ ]:
def INSERT_BANK_CUSTOMER_EXPORT (customer_id,customer_name,Address,state_code,Telephone):
  cursor.execute("""
  INSERT INTO BANK_CUSTOMER_EXPORT ( customer_id,customer_name,Address,state_code,Telephone)
  VALUES (?,?,?,?,?); """,(customer_id,customer_name,Address,state_code,Telephone))
  conn.commit()
#INSERT VALUES
INSERT_BANK_CUSTOMER_EXPORT ("123001 ","Oliver", "225-5, Emeryville", "CA" , "1897614500") ;
INSERT_BANK_CUSTOMER_EXPORT ("123002 ","George", "194-6,New brighton","MN" , "189761700");

In [ ]:
#table view
cursor.execute("SELECT * FROM BANK_CUSTOMER_EXPORT")
rows = cursor.fetchall()
header = [column[0] for column in cursor.description]
print(tabulate(rows, headers=header, tablefmt="grid"))

+---------------+-----------------+--------------------+--------------+-------------+
|   customer_id | customer_name   | Address            | state_code   |   Telephone |
+===============+=================+====================+==============+=============+
|       123001  | Oliver          | 225-5, Emeryville  | CA           |  1897614500 |
+---------------+-----------------+--------------------+--------------+-------------+
|       123002  | George          | 194-6,New brighton | MN           |   189761700 |
+---------------+-----------------+--------------------+--------------+-------------+

TABLE-3 : BANK_ACCOUNT_DETAILS

In [ ]:
cursor.execute("""
CREATE TABLE Bank_Account_Details(Customer_id INT,
                             	Account_Number VARCHAR(19),
                              	Account_type VARCHAR(25),
                           	    Balance_amount INT,
                               	Account_status VARCHAR(10),
                               	Relationship_type varchar(1) ) ;

""")
conn.commit()

In [ ]:
def INSERT_Bank_Account_Details (Customer_id,Account_Number,Account_type,Balance_amount,Account_status,Relationship_type):
  cursor.execute("""
  INSERT INTO Bank_Account_Details (Customer_id,Account_Number,Account_type,Balance_amount,Account_status,Relationship_type)
  VALUES (?,?,?,?,?,?); """,(Customer_id,Account_Number,Account_type,Balance_amount,Account_status,Relationship_type))
  conn.commit()

#INSERT VALUES

INSERT_Bank_Account_Details (123001, "4000-1956-3456",  "SAVINGS" , 200000 ,"ACTIVE","P");
INSERT_Bank_Account_Details (123001, "5000-1700-3456", "RECURRING DEPOSITS" ,9400000 ,"ACTIVE","S");
INSERT_Bank_Account_Details (123002, "4000-1956-2001",  "SAVINGS", 400000 ,"ACTIVE","P");
INSERT_Bank_Account_Details (123002, "5000-1700-5001",  "RECURRING DEPOSITS" ,7500000 ,"ACTIVE","S");
INSERT_Bank_Account_Details (123003, "4000-1956-2900",  "SAVINGS" ,750000,"INACTIVE","P");
INSERT_Bank_Account_Details (123004, "5000-1700-6091", "RECURRING DEPOSITS" ,7500000 ,"ACTIVE","S");
INSERT_Bank_Account_Details (123004, "4000-1956-3401",  "SAVINGS" , 655000 ,"ACTIVE","P");
INSERT_Bank_Account_Details (123005, "4000-1956-5102",  "SAVINGS" , 300000 ,"ACTIVE","P");
INSERT_Bank_Account_Details (123006, "4000-1956-5698",  "SAVINGS" , 455000 ,"ACTIVE" ,"P");
INSERT_Bank_Account_Details (123007, "5000-1700-9800",  "SAVINGS" , 355000 ,"ACTIVE" ,"P");
INSERT_Bank_Account_Details (123007, "4000-1956-9977",  "RECURRING DEPOSITS" , 7025000,"ACTIVE" ,"S");
INSERT_Bank_Account_Details (123007, "9000-1700-7777-4321",  "Credit Card"	,0  ,"INACTIVE", "P");
INSERT_Bank_Account_Details (123007, '5900-1900-9877-5543', "Add-on Credit Card" ,   0   ,"ACTIVE", "S");
INSERT_Bank_Account_Details (123008, "5000-1700-7755",  "SAVINGS"   	,0   	,"INACTIVE","P");
INSERT_Bank_Account_Details (123006, '5800-1700-9800-7755', "Credit Card"   ,0   	,"ACTIVE", "P");
INSERT_Bank_Account_Details (123006, '5890-1970-7706-8912', "Add-on Credit Card"   ,0   	,"ACTIVE", "S");

In [ ]:
#TABLE VIEW
cursor.execute("SELECT * FROM Bank_Account_Details")
rows = cursor.fetchall()
header = [column[0] for column in cursor.description]
print(tabulate(rows, headers=header, tablefmt="grid"))

+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|   Customer_id | Account_Number      | Account_type       |   Balance_amount | Account_status   | Relationship_type   |
+===============+=====================+====================+==================+==================+=====================+
|        123001 | 4000-1956-3456      | SAVINGS            |           200000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123001 | 5000-1700-3456      | RECURRING DEPOSITS |          9400000 | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123002 | 4000-1956-2001      | SAVINGS            |           400000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123002 | 5000-1700-5001      | RECURRING DEPOSITS |          7500000 | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123003 | 4000-1956-2900      | SAVINGS            |           750000 | INACTIVE         | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123004 | 5000-1700-6091      | RECURRING DEPOSITS |          7500000 | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123004 | 4000-1956-3401      | SAVINGS            |           655000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123005 | 4000-1956-5102      | SAVINGS            |           300000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123006 | 4000-1956-5698      | SAVINGS            |           455000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123007 | 5000-1700-9800      | SAVINGS            |           355000 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123007 | 4000-1956-9977      | RECURRING DEPOSITS |          7025000 | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123007 | 9000-1700-7777-4321 | Credit Card        |                0 | INACTIVE         | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123007 | 5900-1900-9877-5543 | Add-on Credit Card |                0 | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123008 | 5000-1700-7755      | SAVINGS            |                0 | INACTIVE         | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123006 | 5800-1700-9800-7755 | Credit Card        |                0 | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123006 | 5890-1970-7706-8912 | Add-on Credit Card |                0 | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+

TABLE-4 : BANK_ACCOUNT

In [ ]:
cursor.execute("""
CREATE TABLE BANK_ACCOUNT ( Customer_id INT,
	                Account_Number VARCHAR(19),
		     Account_type VARCHAR(25),
		     Balance_amount INT ,
			Account_status VARCHAR(10), Relation_ship varchar(1) ) ;
""")
conn.commit()

In [ ]:
def INSERT_BANK_ACCOUNT (Customer_id,Account_Number,Account_type,Balance_amount,Account_status, Relation_ship):
  cursor.execute("""
  INSERT INTO BANK_ACCOUNT (Customer_id,Account_Number,Account_type,Balance_amount,Account_status, Relation_ship)
  VALUES (?,?,?,?,?,?); """,(Customer_id,Account_Number,Account_type,Balance_amount,Account_status, Relation_ship))
  conn.commit()
#INSERT VALUES


INSERT_BANK_ACCOUNT (123001, "4000-1956-3456",  "SAVINGS"            , 200000 ,"ACTIVE","P");
INSERT_BANK_ACCOUNT (123001, "5000-1700-3456",  "RECURRING DEPOSITS" ,9400000 ,"ACTIVE","S");
INSERT_BANK_ACCOUNT (123002, "4000-1956-2001",  "SAVINGS"            , 400000 ,"ACTIVE","P");
INSERT_BANK_ACCOUNT (123002, "5000-1700-5001",  "RECURRING DEPOSITS" ,7500000 ,"ACTIVE","S");
INSERT_BANK_ACCOUNT (123003, "4000-1956-2900",  "SAVINGS"            ,750000,"INACTIVE","P");
INSERT_BANK_ACCOUNT (123004, "5000-1700-6091",  "RECURRING DEPOSITS" ,7500000 ,"ACTIVE","S");
INSERT_BANK_ACCOUNT (123004, "4000-1956-3401",  "SAVINGS"            , 655000 ,"ACTIVE","P");
INSERT_BANK_ACCOUNT (123005, "4000-1956-5102",  "SAVINGS"            , 300000 ,"ACTIVE","P");
INSERT_BANK_ACCOUNT (123006, "4000-1956-5698",  "SAVINGS"            , 455000 ,"ACTIVE" ,"P");
INSERT_BANK_ACCOUNT (123007, "5000-1700-9800",  "SAVINGS"            , 355000 ,"ACTIVE" ,"P");
INSERT_BANK_ACCOUNT (123007, "4000-1956-9977",  "RECURRING DEPOSITS" , 7025000,"ACTIVE" ,"S");
INSERT_BANK_ACCOUNT (123007, "9000-1700-7777-4321",  "CREDITCARD"    ,0      ,"INACTIVE","P");
INSERT_BANK_ACCOUNT (123008, "5000-1700-7755",  "SAVINGS"            ,None   ,"INACTIVE","P");

In [ ]:
#TABLE VIEW
cursor.execute("SELECT * FROM BANK_ACCOUNT")
rows = cursor.fetchall()
header = [column[0] for column in cursor.description]
print(tabulate(rows, headers=header, tablefmt="grid"))

+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|   Customer_id | Account_Number      | Account_type       |   Balance_amount | Account_status   | Relation_ship   |
+===============+=====================+====================+==================+==================+=================+
|        123001 | 4000-1956-3456      | SAVINGS            |           200000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123001 | 5000-1700-3456      | RECURRING DEPOSITS |          9400000 | ACTIVE           | S               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123002 | 4000-1956-2001      | SAVINGS            |           400000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123002 | 5000-1700-5001      | RECURRING DEPOSITS |          7500000 | ACTIVE           | S               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123003 | 4000-1956-2900      | SAVINGS            |           750000 | INACTIVE         | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123004 | 5000-1700-6091      | RECURRING DEPOSITS |          7500000 | ACTIVE           | S               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123004 | 4000-1956-3401      | SAVINGS            |           655000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123005 | 4000-1956-5102      | SAVINGS            |           300000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123006 | 4000-1956-5698      | SAVINGS            |           455000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123007 | 5000-1700-9800      | SAVINGS            |           355000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123007 | 4000-1956-9977      | RECURRING DEPOSITS |          7025000 | ACTIVE           | S               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123007 | 9000-1700-7777-4321 | CREDITCARD         |                0 | INACTIVE         | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123001 | 4000-1956-3456      | SAVINGS            |           200000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123001 | 5000-1700-3456      | RECURRING DEPOSITS |          9400000 | ACTIVE           | S               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123002 | 4000-1956-2001      | SAVINGS            |           400000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123002 | 5000-1700-5001      | RECURRING DEPOSITS |          7500000 | ACTIVE           | S               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123003 | 4000-1956-2900      | SAVINGS            |           750000 | INACTIVE         | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123004 | 5000-1700-6091      | RECURRING DEPOSITS |          7500000 | ACTIVE           | S               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123004 | 4000-1956-3401      | SAVINGS            |           655000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123005 | 4000-1956-5102      | SAVINGS            |           300000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123006 | 4000-1956-5698      | SAVINGS            |           455000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123007 | 5000-1700-9800      | SAVINGS            |           355000 | ACTIVE           | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123007 | 4000-1956-9977      | RECURRING DEPOSITS |          7025000 | ACTIVE           | S               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123007 | 9000-1700-7777-4321 | CREDITCARD         |                0 | INACTIVE         | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+
|        123008 | 5000-1700-7755      | SAVINGS            |                  | INACTIVE         | P               |
+---------------+---------------------+--------------------+------------------+------------------+-----------------+

TABLE-5 : Bank_Account_Relationship_Details

In [ ]:
cursor.execute("""
CREATE TABLE Bank_Account_Relationship_Details(Customer_id INT,
								Account_Number VARCHAR(19),
                Account_type VARCHAR(25),
                Linking_Account_Number VARCHAR(19));
                """)
conn.commit()

OperationalError: table Bank_Account_Relationship_Details already exists

In [ ]:
def INSERT_Bank_Account_Relationship_Details(Customer_id,Account_Number,Account_type,Linking_Account_Number):
  cursor.execute("""
  INSERT INTO Bank_Account_Relationship_Details(Customer_id,Account_Number,Account_type,Linking_Account_Number)
  VALUES (?,?,?,?); """,(Customer_id,Account_Number,Account_type,Linking_Account_Number))
  conn.commit()


#INSERT VALUES

INSERT_Bank_Account_Relationship_Details (123001, "4000-1956-3456",  "SAVINGS" , "");
INSERT_Bank_Account_Relationship_Details (123001, "5000-1700-3456",  "RECURRING DEPOSITS" , "4000-1956-3456");
INSERT_Bank_Account_Relationship_Details (123002, "4000-1956-2001",  "SAVINGS" , "" );
INSERT_Bank_Account_Relationship_Details (123002, "5000-1700-5001",  "RECURRING DEPOSITS" , "4000-1956-2001" );
INSERT_Bank_Account_Relationship_Details (123003, "4000-1956-2900",  "SAVINGS" , "" );
INSERT_Bank_Account_Relationship_Details (123004, "5000-1700-6091",  "RECURRING DEPOSITS" , "4000-1956-2900" );
INSERT_Bank_Account_Relationship_Details (123004, "5000-1700-7791",  "RECURRING DEPOSITS" , "4000-1956-2900" );
INSERT_Bank_Account_Relationship_Details (123007, "5000-1700-9800",  "SAVINGS" , "" );
INSERT_Bank_Account_Relationship_Details (123007, "4000-1956-9977",  "RECURRING DEPOSITS" , "5000-1700-9800" );
INSERT_Bank_Account_Relationship_Details (None, "9000-1700-7777-4321",  "Credit Card" , "5000-1700-9800" );
INSERT_Bank_Account_Relationship_Details (None, '5900-1900-9877-5543', 'Add-on Credit Card', '9000-1700-7777-4321' );
INSERT_Bank_Account_Relationship_Details (None, '5800-1700-9800-7755', 'Credit Card', '4000-1956-5698' );
INSERT_Bank_Account_Relationship_Details (None, '5890-1970-7706-8912', 'Add-on Credit Card', '5800-1700-9800-7755' );

In [ ]:
#TABLE VIEW
cursor.execute("SELECT * FROM Bank_Account_Relationship_Details")
rows = cursor.fetchall()
header = [column[0] for column in cursor.description]
print(tabulate(rows, headers=header, tablefmt="grid"))

+---------------+---------------------+--------------------+--------------------------+
|   Customer_id | Account_Number      | Account_type       | Linking_Account_Number   |
+===============+=====================+====================+==========================+
|        123001 | 4000-1956-3456      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
|        123001 | 5000-1700-3456      | RECURRING DEPOSITS | 4000-1956-3456           |
+---------------+---------------------+--------------------+--------------------------+
|        123002 | 4000-1956-2001      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
|        123002 | 5000-1700-5001      | RECURRING DEPOSITS | 4000-1956-2001           |
+---------------+---------------------+--------------------+--------------------------+
|        123003 | 4000-1956-2900      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
|        123004 | 5000-1700-6091      | RECURRING DEPOSITS | 4000-1956-2900           |
+---------------+---------------------+--------------------+--------------------------+
|        123004 | 5000-1700-7791      | RECURRING DEPOSITS | 4000-1956-2900           |
+---------------+---------------------+--------------------+--------------------------+
|        123007 | 5000-1700-9800      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
|        123007 | 4000-1956-9977      | RECURRING DEPOSITS | 5000-1700-9800           |
+---------------+---------------------+--------------------+--------------------------+
|        123001 | 4000-1956-3456      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
|        123001 | 5000-1700-3456      | RECURRING DEPOSITS | 4000-1956-3456           |
+---------------+---------------------+--------------------+--------------------------+
|        123002 | 4000-1956-2001      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
|        123002 | 5000-1700-5001      | RECURRING DEPOSITS | 4000-1956-2001           |
+---------------+---------------------+--------------------+--------------------------+
|        123003 | 4000-1956-2900      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
|        123004 | 5000-1700-6091      | RECURRING DEPOSITS | 4000-1956-2900           |
+---------------+---------------------+--------------------+--------------------------+
|        123004 | 5000-1700-7791      | RECURRING DEPOSITS | 4000-1956-2900           |
+---------------+---------------------+--------------------+--------------------------+
|        123007 | 5000-1700-9800      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
|        123007 | 4000-1956-9977      | RECURRING DEPOSITS | 5000-1700-9800           |
+---------------+---------------------+--------------------+--------------------------+
|               | 9000-1700-7777-4321 | Credit Card        | 5000-1700-9800           |
+---------------+---------------------+--------------------+--------------------------+
|               | 5900-1900-9877-5543 | Add-on Credit Card | 9000-1700-7777-4321      |
+---------------+---------------------+--------------------+--------------------------+
|               | 5800-1700-9800-7755 | Credit Card        | 4000-1956-5698           |
+---------------+---------------------+--------------------+--------------------------+
|               | 5890-1970-7706-8912 | Add-on Credit Card | 5800-1700-9800-7755      |
+---------------+---------------------+--------------------+--------------------------+

TABLE-6 : BANK_ACCOUNT_TRANSACTION

In [ ]:
cursor.execute("""
CREATE TABLE BANK_ACCOUNT_TRANSACTION (
              	Account_Number VARCHAR(19),
              	Transaction_amount Decimal(18,2) ,
              	Transcation_channel VARCHAR(18) ,
             	Province varchar(3) ,
             	Transaction_Date Date);
""")
conn.commit()

In [ ]:
def INSERT_BANK_ACCOUNT_TRANSACTION (Account_Number,Transaction_amount,Transcation_channel,Province,Transaction_Date):
  cursor.execute("""
  INSERT INTO BANK_ACCOUNT_TRANSACTION (Account_Number,Transaction_amount,Transcation_channel,Province,Transaction_Date)
  VALUES (?,?,?,?,?); """,(Account_Number,Transaction_amount,Transcation_channel,Province,Transaction_Date))
  conn.commit()

#INSERT VALUES

INSERT_BANK_ACCOUNT_TRANSACTION  ( "4000-1956-3456",  -2000, "ATM withdrawl" , "CA", "2020-01-13");
INSERT_BANK_ACCOUNT_TRANSACTION  ( "4000-1956-2001",  -4000, "POS-Walmart"   , "MN", "2020-02-14");
INSERT_BANK_ACCOUNT_TRANSACTION  ( "4000-1956-2001",  -1600, "UPI transfer"  , "MN", "2020-01-19");
INSERT_BANK_ACCOUNT_TRANSACTION  ( "4000-1956-2001",  -6000, "Bankers cheque", "CA", "2020-03-23");
INSERT_BANK_ACCOUNT_TRANSACTION  ( "4000-1956-2001",  -3000, "Net banking"   , "CA", "2020-04-24");
INSERT_BANK_ACCOUNT_TRANSACTION  ( "4000-1956-2001",  23000, "cheque deposit", "MN", "2020-03-15");
INSERT_BANK_ACCOUNT_TRANSACTION  ( "5000-1700-6091",  40000, "ECS transfer"  , "NY", "2020-02-19");
INSERT_BANK_ACCOUNT_TRANSACTION  ( "5000-1700-7791",  40000, "ECS transfer"  , "NY", "2020-02-19");
INSERT_BANK_ACCOUNT_TRANSACTION  ( "4000-1956-3401",   8000, "Cash Deposit"  , "NY", "2020-01-19");
INSERT_BANK_ACCOUNT_TRANSACTION  ( "4000-1956-5102",  -6500, "ATM withdrawal" , "NY", "2020-03-14");
INSERT_BANK_ACCOUNT_TRANSACTION  ( "4000-1956-5698",  -9000, "Cash Deposit"  , "NY", "2020-03-27");
INSERT_BANK_ACCOUNT_TRANSACTION  ( "4000-1956-9977",  50000, "ECS transfer"  , "NY", "2020-01-16");
INSERT_BANK_ACCOUNT_TRANSACTION  ( "9000-1700-7777-4321",  -5000, "POS-Walmart", "NY", "2020-02-17");
INSERT_BANK_ACCOUNT_TRANSACTION  ( "9000-1700-7777-4321",  -8000, "Shopping Cart", "MN", "2020-03-13");
INSERT_BANK_ACCOUNT_TRANSACTION  ( "9000-1700-7777-4321",  -2500, "Shopping Cart", "MN", "2020-04-21");
INSERT_BANK_ACCOUNT_TRANSACTION  ( "5800-1700-9800-7755", -9000, "POS-Walmart","MN", "2020-04-13");
INSERT_BANK_ACCOUNT_TRANSACTION  ( '5890-1970-7706-8912', -11000, "Shopping Cart" , "NY" , "2020-03-12") ;

In [ ]:
#TABLE VIEW
cursor.execute("SELECT * FROM BANK_ACCOUNT_TRANSACTION")
rows = cursor.fetchall()
header = [column[0] for column in cursor.description]
print(tabulate(rows, headers=header, tablefmt="grid"))

+---------------------+----------------------+-----------------------+------------+--------------------+
| Account_Number      |   Transaction_amount | Transcation_channel   | Province   | Transaction_Date   |
+=====================+======================+=======================+============+====================+
| 4000-1956-3456      |                -2000 | ATM withdrawl         | CA         | 2020-01-13         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -4000 | POS-Walmart           | MN         | 2020-02-14         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -1600 | UPI transfer          | MN         | 2020-01-19         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -6000 | Bankers cheque        | CA         | 2020-03-23         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -3000 | Net banking           | CA         | 2020-04-24         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                23000 | cheque deposit        | MN         | 2020-03-15         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5000-1700-6091      |                40000 | ECS transfer          | NY         | 2020-02-19         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5000-1700-7791      |                40000 | ECS transfer          | NY         | 2020-02-19         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-3401      |                 8000 | Cash Deposit          | NY         | 2020-01-19         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-5102      |                -6500 | ATM withdrawal        | NY         | 2020-03-14         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-5698      |                -9000 | Cash Deposit          | NY         | 2020-03-27         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-9977      |                50000 | ECS transfer          | NY         | 2020-01-16         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 9000-1700-7777-4321 |                -5000 | POS-Walmart           | NY         | 2020-02-17         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 9000-1700-7777-4321 |                -8000 | Shopping Cart         | MN         | 2020-03-13         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 9000-1700-7777-4321 |                -2500 | Shopping Cart         | MN         | 2020-04-21         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5800-1700-9800-7755 |                -9000 | POS-Walmart           | MN         | 2020-04-13         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5890-1970-7706-8912 |               -11000 | Shopping Cart         | NY         | 2020-03-12         |
+---------------------+----------------------+-----------------------+------------+--------------------+

TABLE-7 : BANK_CUSTOMER_MESSAGES

In [ ]:
cursor.execute("""
CREATE TABLE BANK_CUSTOMER_MESSAGES (
              	Event VARCHAR(24),
              	Customer_message VARCHAR(75),
              	Notice_delivery_mode VARCHAR(15)) ;
""")

In [ ]:
def INSERT_BANK_CUSTOMER_MESSAGES(Event,Customer_message,Notice_delivery_mode):
  cursor.execute("""
  INSERT INTO BANK_CUSTOMER_MESSAGES(Event,Customer_message,Notice_delivery_mode)
  VALUES (?,?,?); """,(Event,Customer_message,Notice_delivery_mode))
  conn.commit()

#INSERT VALUES
INSERT_BANK_CUSTOMER_MESSAGES  ( "Adhoc", "All Banks are closed due to announcement of National strike", "mobile" ) ;
INSERT_BANK_CUSTOMER_MESSAGES  ( "Transaction Limit", "Only limited withdrawals per card are allowed from ATM machines", "mobile" );

In [ ]:
#TABLE VIEW
cursor.execute("SELECT * FROM BANK_CUSTOMER_MESSAGES")
rows = cursor.fetchall()
header = [column[0] for column in cursor.description]
print(tabulate(rows, headers=header, tablefmt="grid"))

+-------------------+-----------------------------------------------------------------+------------------------+
| Event             | Customer_message                                                | Notice_delivery_mode   |
+===================+=================================================================+========================+
| Adhoc             | All Banks are closed due to announcement of National strike     | mobile                 |
+-------------------+-----------------------------------------------------------------+------------------------+
| Transaction Limit | Only limited withdrawals per card are allowed from ATM machines | mobile                 |
+-------------------+-----------------------------------------------------------------+------------------------+

TABLE-8 : BANK_INTEREST_RATE

In [ ]:
cursor.execute("""
CREATE TABLE BANK_INTEREST_RATE(
            	account_type varchar(24),
              	interest_rate decimal(4,2),
            	month varchar(2),
            	year  varchar(4)
             	);
""")

In [ ]:
def INSERT_BANK_INTEREST_RATE(account_type,interest_rate,month,year):
  cursor.execute("""
  INSERT INTO BANK_INTEREST_RATE (account_type,interest_rate,month,year)
  VALUES (?,?,?,?); """,(account_type,interest_rate,month,year))
  conn.commit()

#INSERT VALUES
INSERT_BANK_INTEREST_RATE  ( "SAVINGS" , 0.04 , '02' , '2020' );
INSERT_BANK_INTEREST_RATE  ( "RECURRING DEPOSITS" , 0.07, '02' , '2020' );
INSERT_BANK_INTEREST_RATE  ( "PRIVILEGED_INTEREST_RATE" , 0.08 , '02' , '2020' )

In [ ]:
#TABLE VIEW
cursor.execute("SELECT * FROM BANK_INTEREST_RATE")
rows = cursor.fetchall()
header = [column[0] for column in cursor.description]
print(tabulate(rows, headers=header, tablefmt="grid"))

+--------------------------+-----------------+---------+--------+
| account_type             |   interest_rate |   month |   year |
+==========================+=================+=========+========+
| SAVINGS                  |            0.04 |      02 |   2020 |
+--------------------------+-----------------+---------+--------+
| RECURRING DEPOSITS       |            0.07 |      02 |   2020 |
+--------------------------+-----------------+---------+--------+
| PRIVILEGED_INTEREST_RATE |            0.08 |      02 |   2020 |
+--------------------------+-----------------+---------+--------+

list of tables

In [ ]:
#get the list of tables created
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
for table in tables:
    print(table[0])

BANK_CUSTOMER
BANK_CUSTOMER_EXPORT
Bank_Account_Details
BANK_ACCOUNT
Bank_Account_Relationship_Details
BANK_ACCOUNT_TRANSACTION
BANK_CUSTOMER_MESSAGES
BANK_INTEREST_RATE

# QUERIES

Question 1:

Print customer Id, customer name and average account_balance maintained by each customer for all  of his/her accounts in the bank.(8 Rows)

In [ ]:
# 1) Print customer Id, customer name and average account_balance maintained by each customer for all  of his/her accounts in the bank.(8 Rows)

cursor.execute("""
SELECT
    c.customer_id,
    c.customer_name,
    AVG(a.Balance_Amount) AS average_balance
FROM
    BANK_CUSTOMER c
JOIN
     BANK_ACCOUNT_DETAILS a ON c.customer_id = a.customer_id
GROUP BY
    c.customer_id, c.customer_name
LIMIT 8;
""")
result = cursor.fetchall()
for row in result:
    print(row)

(123001, 'Oliver', 4800000.0)
(123002, 'George', 3950000.0)
(123003, 'Harry', 750000.0)
(123004, 'Jack', 4077500.0)
(123005, 'Jacob', 300000.0)
(123006, 'Noah', 151666.66666666666)
(123007, 'Charlie', 1845000.0)
(123008, 'Robin', 0.0)

Question 2:

Print customer_id , account_number and balance_amount , condition that if balance_amount is nil then assign transaction_amount  for account_type = "Credit Card"(4 Rows)

In [ ]:
#Print customer_id , account_number and balance_amount , condition that if balance_amount is nil then assign transaction_amount  for account_type = "Credit Card"(4 Rows)

cursor.execute("""
SELECT
    b.customer_id,
    b.account_number,
    CASE
    WHEN b.Balance_amount IS NULL AND Account_type = 'Credit card' THEN t.transaction_amount
    ELSE b.Balance_amount
    END AS balance_amount
FROM
    BANK_ACCOUNT_DETAILS b
LEFT JOIN
    BANK_ACCOUNT_TRANSACTION t ON b.account_number = t.account_number

LIMIT 4;
""")

result = cursor.fetchall()
for row in result:
    print(row)

(123001, '4000-1956-3456', 200000)
(123001, '5000-1700-3456', 9400000)
(123002, '4000-1956-2001', 400000)
(123002, '4000-1956-2001', 400000)

Question 3:

Print account_number and balance_amount , transaction_amount,Transaction_Date from Bank_Account_Details and bank_account_transaction for all the transactions occurred during march,2020 and april, 2020(12 Rows)

In [ ]:
#Print account_number and balance_amount , transaction_amount,Transaction_Date from Bank_Account_Details and bank_account_transaction for all the transactions occurred during march,2020 and april, 2020(12 Rows)

cursor.execute("""
SELECT
    b.account_number,
    b.Balance_amount,
    t.transaction_amount,
    t.transaction_date
FROM
    BANK_ACCOUNT_DETAILS b
JOIN
    BANK_ACCOUNT_TRANSACTION t ON b.account_number = t.account_number
WHERE
    t.transaction_date BETWEEN '2020-03-01' AND '2020-04-30'
LIMIT 12;
""")
result = cursor.fetchall()
for row in result:
    print(row)

('4000-1956-2001', 400000, -6000, '2020-03-23')
('4000-1956-2001', 400000, -3000, '2020-04-24')
('4000-1956-2001', 400000, 23000, '2020-03-15')
('4000-1956-5102', 300000, -6500, '2020-03-14')
('4000-1956-5698', 455000, -9000, '2020-03-27')
('9000-1700-7777-4321', 0, -8000, '2020-03-13')
('9000-1700-7777-4321', 0, -2500, '2020-04-21')
('5800-1700-9800-7755', 0, -9000, '2020-04-13')
('5890-1970-7706-8912', 0, -11000, '2020-03-12')

Question 4:

Print all of the customer id, account number,  balance_amount, transaction_amount , Transaction_Date  from bank_customer, Bank_Account_Details and bank_account_transaction tables where excluding all of their transactions in march, 2020  month (22 Rows)

In [ ]:
cursor.execute("""
SELECT
    c.customer_id,
    b.account_number,
    b.balance_amount,
    t.transaction_amount,
    t.transaction_date
FROM
    BANK_CUSTOMER c
JOIN
    BANK_ACCOUNT_DETAILS b ON c.customer_id = b.customer_id
LEFT JOIN
    BANK_ACCOUNT_TRANSACTION t ON b.account_number = t.account_number
WHERE
    NOT(
      strftime('%Y',t.transaction_date) = '2020'
      AND strftime('%m',t.transaction_date)= '03'
    );
""")
result = cursor.fetchall()
for row in result:
    print(row)

(123001, '4000-1956-3456', 200000, -2000, '2020-01-13')
(123002, '4000-1956-2001', 400000, -4000, '2020-02-14')
(123002, '4000-1956-2001', 400000, -3000, '2020-04-24')
(123002, '4000-1956-2001', 400000, -1600, '2020-01-19')
(123004, '4000-1956-3401', 655000, 8000, '2020-01-19')
(123004, '5000-1700-6091', 7500000, 40000, '2020-02-19')
(123006, '5800-1700-9800-7755', 0, -9000, '2020-04-13')
(123007, '4000-1956-9977', 7025000, 50000, '2020-01-16')
(123007, '9000-1700-7777-4321', 0, -5000, '2020-02-17')
(123007, '9000-1700-7777-4321', 0, -2500, '2020-04-21')

Question 5:

Print only the customer id, account_number, balance_amount,transaction_amount ,transaction_date who did transactions during the first quarter. Do not display the accounts if they have not done any transactions in the first quarter.(16 Rows)

In [ ]:
cursor.execute("""
SELECT
    c.customer_id,
    b.account_number,
    b.balance_amount,
    t.transaction_amount,
    t.transaction_date
FROM
    BANK_CUSTOMER c
JOIN
    BANK_ACCOUNT_DETAILS b ON c.customer_id = b.customer_id
LEFT JOIN
    BANK_ACCOUNT_TRANSACTION t ON b.account_number = t.account_number
WHERE
    strftime('%m',t.transaction_date) BETWEEN '01' AND '03';
""")
result = cursor.fetchall()
for row in result:
    print(row)

(123001, '4000-1956-3456', 200000, -2000, '2020-01-13')
(123002, '4000-1956-2001', 400000, -6000, '2020-03-23')
(123002, '4000-1956-2001', 400000, -4000, '2020-02-14')
(123002, '4000-1956-2001', 400000, -1600, '2020-01-19')
(123002, '4000-1956-2001', 400000, 23000, '2020-03-15')
(123004, '4000-1956-3401', 655000, 8000, '2020-01-19')
(123004, '5000-1700-6091', 7500000, 40000, '2020-02-19')
(123005, '4000-1956-5102', 300000, -6500, '2020-03-14')
(123006, '4000-1956-5698', 455000, -9000, '2020-03-27')
(123006, '5890-1970-7706-8912', 0, -11000, '2020-03-12')
(123007, '4000-1956-9977', 7025000, 50000, '2020-01-16')
(123007, '9000-1700-7777-4321', 0, -8000, '2020-03-13')
(123007, '9000-1700-7777-4321', 0, -5000, '2020-02-17')

Question 6:

Print account_number, Event and Customer_message from BANK_CUSTOMER_MESSAGES and Bank_Account_Details to display an Adhoc" Event for all customers who have  SAVINGS" account_type account.(8 Rows)

In [ ]:
cursor.execute("""
SELECT
    b.account_number,
    m.Event,
    m.Customer_message
FROM
    BANK_ACCOUNT_DETAILS b,
    BANK_CUSTOMER_MESSAGES m
WHERE b.account_type = 'SAVINGS'
AND m.Event = 'Adhoc';

""")
result = cursor.fetchall()
for row in result:
    print(row)

('4000-1956-3456', 'Adhoc', 'All Banks are closed due to announcement of National strike')
('4000-1956-2001', 'Adhoc', 'All Banks are closed due to announcement of National strike')
('4000-1956-2900', 'Adhoc', 'All Banks are closed due to announcement of National strike')
('4000-1956-3401', 'Adhoc', 'All Banks are closed due to announcement of National strike')
('4000-1956-5102', 'Adhoc', 'All Banks are closed due to announcement of National strike')
('4000-1956-5698', 'Adhoc', 'All Banks are closed due to announcement of National strike')
('5000-1700-9800', 'Adhoc', 'All Banks are closed due to announcement of National strike')
('5000-1700-7755', 'Adhoc', 'All Banks are closed due to announcement of National strike')

Question 7:

Print all Customer_id, Account_Number, Account_type, and display deducted balance_amount by  subtracting only negative transaction_amounts for Relationship_type ="P" ( P - means  Primary , S - means Secondary ) .(27 Rows)

In [ ]:
cursor.execute("""
SELECT
      c.customer_id,
      b.account_number,
      b.account_type,
      b.balance_amount,
      b.relationship_type,
      SUM(CASE
           WHEN t.transaction_amount < 0 THEN t.transaction_amount ELSE 0 END) AS deducted_balance
FROM
    BANK_CUSTOMER c
JOIN
    BANK_ACCOUNT_DETAILS b ON c.customer_id = b.customer_id
LEFT JOIN
    BANK_ACCOUNT_TRANSACTION t ON b.account_number = t.account_number
WHERE b.relationship_type IN ('P', 'S')
GROUP BY
    c.customer_id,
    b.account_number,
    b.account_type,
    b.balance_amount,
    b.relationship_type
""")
result = cursor.fetchall()
for row in result:
    print(row)

(123001, '4000-1956-3456', 'SAVINGS', 200000, 'P', -2000)
(123001, '5000-1700-3456', 'RECURRING DEPOSITS', 9400000, 'S', 0)
(123002, '4000-1956-2001', 'SAVINGS', 400000, 'P', -14600)
(123002, '5000-1700-5001', 'RECURRING DEPOSITS', 7500000, 'S', 0)
(123003, '4000-1956-2900', 'SAVINGS', 750000, 'P', 0)
(123004, '4000-1956-3401', 'SAVINGS', 655000, 'P', 0)
(123004, '5000-1700-6091', 'RECURRING DEPOSITS', 7500000, 'S', 0)
(123005, '4000-1956-5102', 'SAVINGS', 300000, 'P', -6500)
(123006, '4000-1956-5698', 'SAVINGS', 455000, 'P', -9000)
(123006, '5800-1700-9800-7755', 'Credit Card', 0, 'P', -9000)
(123006, '5890-1970-7706-8912', 'Add-on Credit Card', 0, 'S', -11000)
(123007, '4000-1956-9977', 'RECURRING DEPOSITS', 7025000, 'S', 0)
(123007, '5000-1700-9800', 'SAVINGS', 355000, 'P', 0)
(123007, '5900-1900-9877-5543', 'Add-on Credit Card', 0, 'S', 0)
(123007, '9000-1700-7777-4321', 'Credit Card', 0, 'P', -15500)
(123008, '5000-1700-7755', 'SAVINGS', 0, 'P', 0)

Question 8:

a) Display records of All Accounts , their Account_types, the transaction amount.

b) Along with first step, Display other columns with corresponding linking account number, account types (15 Rows)

In [ ]:
#Display records of All Accounts , their Account_types, the transaction amount.
cursor.execute("""
SELECT
    b.account_number,
    b.account_type,
    t.transaction_amount
FROM
    Bank_Account_Details b
JOIN
    BANK_ACCOUNT_TRANSACTION t
    ON b.account_number = t.account_number;
"""
)
result = cursor.fetchall()
for row in result:
    print(row)

('4000-1956-3456', 'SAVINGS', -2000)
('4000-1956-2001', 'SAVINGS', -6000)
('4000-1956-2001', 'SAVINGS', -4000)
('4000-1956-2001', 'SAVINGS', -3000)
('4000-1956-2001', 'SAVINGS', -1600)
('4000-1956-2001', 'SAVINGS', 23000)
('5000-1700-6091', 'RECURRING DEPOSITS', 40000)
('4000-1956-3401', 'SAVINGS', 8000)
('4000-1956-5102', 'SAVINGS', -6500)
('4000-1956-5698', 'SAVINGS', -9000)
('4000-1956-9977', 'RECURRING DEPOSITS', 50000)
('9000-1700-7777-4321', 'Credit Card', -8000)
('9000-1700-7777-4321', 'Credit Card', -5000)
('9000-1700-7777-4321', 'Credit Card', -2500)
('5800-1700-9800-7755', 'Credit Card', -9000)
('5890-1970-7706-8912', 'Add-on Credit Card', -11000)

In [ ]:
#Along with first step, Display other columns with corresponding linking account number, account types (15 Rows)
cursor.execute("""
SELECT
    b.account_number,
    b.account_type,
    t.transaction_amount,
    r.linking_account_number,
    r.account_type
FROM
    Bank_Account_Details b
JOIN
    BANK_ACCOUNT_TRANSACTION t
    ON b.account_number = t.account_number
JOIN
    Bank_Account_Relationship_Details r
    ON b.account_number = r.account_number;
"""
)
result = cursor.fetchall()
for row in result:
    print(row)

('4000-1956-3456', 'SAVINGS', -2000, '', 'SAVINGS')
('4000-1956-3456', 'SAVINGS', -2000, '', 'SAVINGS')
('4000-1956-2001', 'SAVINGS', -6000, '', 'SAVINGS')
('4000-1956-2001', 'SAVINGS', -6000, '', 'SAVINGS')
('4000-1956-2001', 'SAVINGS', -4000, '', 'SAVINGS')
('4000-1956-2001', 'SAVINGS', -4000, '', 'SAVINGS')
('4000-1956-2001', 'SAVINGS', -3000, '', 'SAVINGS')
('4000-1956-2001', 'SAVINGS', -3000, '', 'SAVINGS')
('4000-1956-2001', 'SAVINGS', -1600, '', 'SAVINGS')
('4000-1956-2001', 'SAVINGS', -1600, '', 'SAVINGS')
('4000-1956-2001', 'SAVINGS', 23000, '', 'SAVINGS')
('4000-1956-2001', 'SAVINGS', 23000, '', 'SAVINGS')
('5000-1700-6091', 'RECURRING DEPOSITS', 40000, '4000-1956-2900', 'RECURRING DEPOSITS')
('5000-1700-6091', 'RECURRING DEPOSITS', 40000, '4000-1956-2900', 'RECURRING DEPOSITS')
('4000-1956-9977', 'RECURRING DEPOSITS', 50000, '5000-1700-9800', 'RECURRING DEPOSITS')
('4000-1956-9977', 'RECURRING DEPOSITS', 50000, '5000-1700-9800', 'RECURRING DEPOSITS')
('9000-1700-7777-4321', 'Credit Card', -8000, '5000-1700-9800', 'Credit Card')
('9000-1700-7777-4321', 'Credit Card', -5000, '5000-1700-9800', 'Credit Card')
('9000-1700-7777-4321', 'Credit Card', -2500, '5000-1700-9800', 'Credit Card')
('5800-1700-9800-7755', 'Credit Card', -9000, '4000-1956-5698', 'Credit Card')
('5890-1970-7706-8912', 'Add-on Credit Card', -11000, '5800-1700-9800-7755', 'Add-on Credit Card')

Question 9:

a) Display records of All Accounts , their Account_types, the transaction amount.

b) Along with first step, Display other columns with corresponding linking account number, account types

c) After retrieving all records of accounts and their linked accounts, display the   transaction amount of accounts appeared  in another column.(26 Rows)

In [ ]:
#Display records of All Accounts , their Account_types, the transaction amount.
cursor.execute("""
SELECT
    b.account_number,
    b.account_type,
    t.transaction_amount
FROM
    Bank_Account_Details b
JOIN
    BANK_ACCOUNT_TRANSACTION t
    ON b.account_number = t.account_number;
"""
)
result = cursor.fetchall()
for row in result:
    print(row)

('4000-1956-3456', 'SAVINGS', -2000)
('4000-1956-2001', 'SAVINGS', -6000)
('4000-1956-2001', 'SAVINGS', -4000)
('4000-1956-2001', 'SAVINGS', -3000)
('4000-1956-2001', 'SAVINGS', -1600)
('4000-1956-2001', 'SAVINGS', 23000)
('5000-1700-6091', 'RECURRING DEPOSITS', 40000)
('4000-1956-3401', 'SAVINGS', 8000)
('4000-1956-5102', 'SAVINGS', -6500)
('4000-1956-5698', 'SAVINGS', -9000)
('4000-1956-9977', 'RECURRING DEPOSITS', 50000)
('9000-1700-7777-4321', 'Credit Card', -8000)
('9000-1700-7777-4321', 'Credit Card', -5000)
('9000-1700-7777-4321', 'Credit Card', -2500)
('5800-1700-9800-7755', 'Credit Card', -9000)
('5890-1970-7706-8912', 'Add-on Credit Card', -11000)

In [ ]:
#Along with first step, Display other columns with corresponding linking account number, account types (15 Rows)
cursor.execute("""
SELECT
    b.account_number,
    b.account_type,
    t.transaction_amount,
    r.linking_account_number,
    r.account_type
FROM
    Bank_Account_Details b
JOIN
    BANK_ACCOUNT_TRANSACTION t
    ON b.account_number = t.account_number
JOIN
    Bank_Account_Relationship_Details r
    ON b.account_number = r.account_number;
"""
)
result = cursor.fetchall()
for row in result:
    print(row)

('4000-1956-3456', 'SAVINGS', -2000, '', 'SAVINGS')
('4000-1956-3456', 'SAVINGS', -2000, '', 'SAVINGS')
('4000-1956-2001', 'SAVINGS', -6000, '', 'SAVINGS')
('4000-1956-2001', 'SAVINGS', -6000, '', 'SAVINGS')
('4000-1956-2001', 'SAVINGS', -4000, '', 'SAVINGS')
('4000-1956-2001', 'SAVINGS', -4000, '', 'SAVINGS')
('4000-1956-2001', 'SAVINGS', -3000, '', 'SAVINGS')
('4000-1956-2001', 'SAVINGS', -3000, '', 'SAVINGS')
('4000-1956-2001', 'SAVINGS', -1600, '', 'SAVINGS')
('4000-1956-2001', 'SAVINGS', -1600, '', 'SAVINGS')
('4000-1956-2001', 'SAVINGS', 23000, '', 'SAVINGS')
('4000-1956-2001', 'SAVINGS', 23000, '', 'SAVINGS')
('5000-1700-6091', 'RECURRING DEPOSITS', 40000, '4000-1956-2900', 'RECURRING DEPOSITS')
('5000-1700-6091', 'RECURRING DEPOSITS', 40000, '4000-1956-2900', 'RECURRING DEPOSITS')
('4000-1956-9977', 'RECURRING DEPOSITS', 50000, '5000-1700-9800', 'RECURRING DEPOSITS')
('4000-1956-9977', 'RECURRING DEPOSITS', 50000, '5000-1700-9800', 'RECURRING DEPOSITS')
('9000-1700-7777-4321', 'Credit Card', -8000, '5000-1700-9800', 'Credit Card')
('9000-1700-7777-4321', 'Credit Card', -5000, '5000-1700-9800', 'Credit Card')
('9000-1700-7777-4321', 'Credit Card', -2500, '5000-1700-9800', 'Credit Card')
('5800-1700-9800-7755', 'Credit Card', -9000, '4000-1956-5698', 'Credit Card')
('5890-1970-7706-8912', 'Add-on Credit Card', -11000, '5800-1700-9800-7755', 'Add-on Credit Card')

In [ ]:
cursor.execute("""
SELECT
    a.account_number,
    a.account_type,
    t.transaction_amount,
    r.linking_account_number,
    a2.account_type AS linking_account_type
FROM
    Bank_Account_Details a
LEFT JOIN
    BANK_ACCOUNT_TRANSACTION t
    ON a.account_number = t.account_number
LEFT JOIN
    Bank_Account_Relationship_Details r
    ON a.account_number = r.account_number
LEFT JOIN
    Bank_Account_Details a2
    ON r.linking_account_number = a2.account_number

  LIMIT 26;
""")
result = cursor.fetchall()
for row in result:
    print(row)

('4000-1956-3456', 'SAVINGS', -2000, '', None)
('4000-1956-3456', 'SAVINGS', -2000, '', None)
('5000-1700-3456', 'RECURRING DEPOSITS', None, '4000-1956-3456', 'SAVINGS')
('5000-1700-3456', 'RECURRING DEPOSITS', None, '4000-1956-3456', 'SAVINGS')
('4000-1956-2001', 'SAVINGS', -6000, '', None)
('4000-1956-2001', 'SAVINGS', -6000, '', None)
('4000-1956-2001', 'SAVINGS', -4000, '', None)
('4000-1956-2001', 'SAVINGS', -4000, '', None)
('4000-1956-2001', 'SAVINGS', -3000, '', None)
('4000-1956-2001', 'SAVINGS', -3000, '', None)
('4000-1956-2001', 'SAVINGS', -1600, '', None)
('4000-1956-2001', 'SAVINGS', -1600, '', None)
('4000-1956-2001', 'SAVINGS', 23000, '', None)
('4000-1956-2001', 'SAVINGS', 23000, '', None)
('5000-1700-5001', 'RECURRING DEPOSITS', None, '4000-1956-2001', 'SAVINGS')
('5000-1700-5001', 'RECURRING DEPOSITS', None, '4000-1956-2001', 'SAVINGS')
('4000-1956-2900', 'SAVINGS', None, '', None)
('4000-1956-2900', 'SAVINGS', None, '', None)
('5000-1700-6091', 'RECURRING DEPOSITS', 40000, '4000-1956-2900', 'SAVINGS')
('5000-1700-6091', 'RECURRING DEPOSITS', 40000, '4000-1956-2900', 'SAVINGS')
('4000-1956-3401', 'SAVINGS', 8000, None, None)
('4000-1956-5102', 'SAVINGS', -6500, None, None)
('4000-1956-5698', 'SAVINGS', -9000, None, None)
('5000-1700-9800', 'SAVINGS', None, '', None)
('5000-1700-9800', 'SAVINGS', None, '', None)
('4000-1956-9977', 'RECURRING DEPOSITS', 50000, '5000-1700-9800', 'SAVINGS')

In [ ]:
cursor.execute("""
SELECT
    a.account_number,
    a.account_type,
    t.transaction_amount AS account_transaction,
    r.linking_account_number,
    a2.account_type AS linking_account_type,
    t2.transaction_amount AS linking_account_transaction
FROM
    Bank_Account_Details a
LEFT JOIN
    BANK_ACCOUNT_TRANSACTION t
    ON a.account_number = t.account_number
LEFT JOIN
    Bank_Account_Relationship_Details r
    ON a.account_number = r.account_number
LEFT JOIN
    Bank_Account_Details a2
    ON r.linking_account_number = a2.account_number
LEFT JOIN
    BANK_ACCOUNT_TRANSACTION t2
    ON a2.account_number = t2.account_number
LIMIT 26;
""")
result = cursor.fetchall()
for row in result:
    print(row)

('4000-1956-3456', 'SAVINGS', -2000, '', None, None)
('4000-1956-3456', 'SAVINGS', -2000, '', None, None)
('5000-1700-3456', 'RECURRING DEPOSITS', None, '4000-1956-3456', 'SAVINGS', -2000)
('5000-1700-3456', 'RECURRING DEPOSITS', None, '4000-1956-3456', 'SAVINGS', -2000)
('4000-1956-2001', 'SAVINGS', -6000, '', None, None)
('4000-1956-2001', 'SAVINGS', -6000, '', None, None)
('4000-1956-2001', 'SAVINGS', -4000, '', None, None)
('4000-1956-2001', 'SAVINGS', -4000, '', None, None)
('4000-1956-2001', 'SAVINGS', -3000, '', None, None)
('4000-1956-2001', 'SAVINGS', -3000, '', None, None)
('4000-1956-2001', 'SAVINGS', -1600, '', None, None)
('4000-1956-2001', 'SAVINGS', -1600, '', None, None)
('4000-1956-2001', 'SAVINGS', 23000, '', None, None)
('4000-1956-2001', 'SAVINGS', 23000, '', None, None)
('5000-1700-5001', 'RECURRING DEPOSITS', None, '4000-1956-2001', 'SAVINGS', -6000)
('5000-1700-5001', 'RECURRING DEPOSITS', None, '4000-1956-2001', 'SAVINGS', -4000)
('5000-1700-5001', 'RECURRING DEPOSITS', None, '4000-1956-2001', 'SAVINGS', -3000)
('5000-1700-5001', 'RECURRING DEPOSITS', None, '4000-1956-2001', 'SAVINGS', -1600)
('5000-1700-5001', 'RECURRING DEPOSITS', None, '4000-1956-2001', 'SAVINGS', 23000)
('5000-1700-5001', 'RECURRING DEPOSITS', None, '4000-1956-2001', 'SAVINGS', -6000)
('5000-1700-5001', 'RECURRING DEPOSITS', None, '4000-1956-2001', 'SAVINGS', -4000)
('5000-1700-5001', 'RECURRING DEPOSITS', None, '4000-1956-2001', 'SAVINGS', -3000)
('5000-1700-5001', 'RECURRING DEPOSITS', None, '4000-1956-2001', 'SAVINGS', -1600)
('5000-1700-5001', 'RECURRING DEPOSITS', None, '4000-1956-2001', 'SAVINGS', 23000)
('4000-1956-2900', 'SAVINGS', None, '', None, None)
('4000-1956-2900', 'SAVINGS', None, '', None, None)

Question 10:

10) Display all saving account holders have Add-on Credit Cards" and Credit cards" (3 Rows

In [ ]:

cursor.execute("""
SELECT DISTINCT
    c.customer_id,
    c.customer_name
FROM
    Bank_Account_Details a
JOIN
    BANK_CUSTOMER c
    ON a.customer_id = c.customer_id
WHERE
    a.customer_id IN (
        SELECT customer_id
        FROM Bank_Account_Details
        WHERE account_type = 'Credit Card'
    )
    AND a.customer_id IN (
        SELECT customer_id
        FROM Bank_Account_Details
        WHERE account_type = 'Add-on Credit Card'
    )
    AND a.account_type = 'SAVINGS';
"""
)
result = cursor.fetchall()
for row in result:
    print(row)

(123006, 'Noah')
(123007, 'Charlie')

In [ ]:
cursor.execute("""
SELECT
    c.customer_id,
    c.customer_name
FROM
    Bank_Account_Details a
JOIN
    BANK_CUSTOMER c
    ON a.customer_id = c.customer_id
WHERE
    a.account_type IN ('Credit Card', 'Add-on Credit Card', 'SAVINGS')
GROUP BY
    c.customer_id, c.customer_name
HAVING
    SUM(CASE WHEN a.account_type = 'Credit Card' THEN 1 ELSE 0 END) > 0
    AND SUM(CASE WHEN a.account_type = 'Add-on Credit Card' THEN 1 ELSE 0 END) > 0
    AND SUM(CASE WHEN a.account_type = 'SAVINGS' THEN 1 ELSE 0 END) > 0;
""")
result = cursor.fetchall()
for row in result:
    print(row)

(123006, 'Noah')
(123007, 'Charlie')

Question 11:

Display  records of SAVINGS account linked with Credit cards" account_type and its credit

aggregate sum of transaction amount. (1 Row)

Ref: Check linking relationship in bank_transaction_relationship_details.
        # Check transaction_amount in bank_account_transaction.

In [ ]:
cursor.execute("""
SELECT
    s.account_number AS savings_account,
    c.account_number AS credit_card_account,
    SUM(t.transaction_amount) AS total_credit_transactions
FROM
    Bank_Account_Details s
JOIN
    Bank_Account_Relationship_Details r
    ON s.account_number = r.account_number
JOIN
    Bank_Account_Details c
    ON r.linking_account_number = c.account_number
JOIN
    BANK_ACCOUNT_TRANSACTION t
    ON c.account_number = t.account_number
WHERE
    s.account_type = 'SAVINGS'
    AND c.account_type = 'Credit Card';
""")
result = cursor.fetchall()
for row in result:
    print(row)

(None, None, None)